* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: black;
}

.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transform: translateY(10vh) scale(0.625);
  animation: slideIn 1s ease-out forwards;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 60px;
}

.loading-logo {
  width: 200px;
  opacity: 0.3;
  transform: translateY(-30%) scale(0.625);
  animation: slideIn 1s ease-out forwards;
}

.loader-progress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60vw;
  max-width: 400px;
  height: 8px;
  border-radius: 12px;
  background-color: rgb(80, 80, 80);
  margin-bottom: 9px;
}

.loader-progress-bar {
  width: 0%;
  height: 100%;
  border-radius: 12px;
  background-color: #fff;
  transition: width 1s ease;
}

.counter-container {
  align-self: end;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.4rem;
  font-size: clamp(1.3rem, 3.6vw, 2rem);
  font-style: italic;
  font-weight: 500;
  width: 10vw;
  min-width: 62px;
  line-height: 1;
  color: rgb(132, 129, 129);
}

.counter-container > .odometer {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 2px;
}

.website-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #350d0d;
  color: #fff;
  opacity: 0;
  align-items: center;
  justify-content: center;
}

.header {
  position: relative;
  height: max-content;
  width: max-content;
}

.h1 {
  display: flex;
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
}

h1 {
  font-size: clamp(20px, 8vw, 50px);
}

.header .h1 h1 {
  text-align: center;
  position: relative;
  top: 80px;
  margin: 0 10px;
  font-weight: 400;
  text-transform: uppercase;
}

@keyframes slideIn {
  to {
    transform: translateY(0) scale(1);
  }
}
